.container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 980px;
	margin: auto;
}
.sidebar-block {
	background-color: red;
	width: 30%;
	}
.content-block {
	background-color: blue;
	width: 70%;
	}