.container {
	width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-color: #555;
	}
.sidebar-block {
	width: 30%;
	position: relative;
	float: left;
	}
.content-block {
	width: 70%;
	float: left;
	}
/* And here is our columns backgrounds */
.container:before, .container:after {
	content: " ";
	position: absolute; /* get them out of the document flow */
	z-index: -1; /* position them in stack below anything else */
	top: 0;
	height: 100%;
	}
.container:before {
	width: 30%; /* same as column width */
	background: red;
	}
.container:after {
	left: 30%;
	width: 70%;
	background-color: blue;
	}